html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
	background: black;
  overflow: scroll;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  position: relative;
  z-index: 11;
}
.title-container {
  flex: 0;
}
.title-container a {
  font-family: 'Baloo Da';
  font-size: 30px;
  padding: 10px;
  margin-right: 15px;
}

header .desktop-nav-bar li {
  display: inline;
  border-radius: 4px;
}

header .mobile-nav-bar li {
  margin: 30px;
}

header .mobile-nav-bar {
  padding: 0px;
}

header li a {
  font-family: 'Baloo Da';
  padding: 15px;
  border-radius: 4px;
}


header li a:hover {
  color: LightGrey;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

header .circled-link {
  border-style: solid;
  border-radius: 4px;
  border-color: white;
  margin-right: 15px;
}

header .menu {
  display: none;
}


header nav {
  display: flex;
}

.cover {
  height: 100%;
  /* image credit to:
  http://4.bp.blogspot.com/-9esBy0CVRW0/TWFbmDUQgQI/AAAAAAAAAEw/5IiZClKM5hE/s1600/seamless-vintage-wallpaper-2.jpg
  */
  background-image: url(img/planet.jpg);
  background-size: cover;
}


body .main-contents {
  min-height: 85%;
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.main-contents h1 {
  font-family: 'Baloo Da', cursive;
  font-weight: lighter;
  color: white;
  margin: 20px;
  font-size: 60px;
  font-weight: bolder;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-subtitle {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.main-subtitle p {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.create-team-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 50%;
  text-align: center;
  flex-shrink: 0;
}

.create-team-box p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.create-team-box a {
  text-decoration: underline;
}

.location-box {
  padding: 15px;
  color: white;
  text-align: left;
  align-self: flex-end;
  font-size: 18px;
  margin-right: 30px;
}

.location-text {
  font-weight: bolder;
}

.location-box p {
  margin: 3px;
}

.input-area {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-bottom:10px;
	width:100%;
}
.email-field {
	flex: 3;
	padding:10px;

}
.email-field input {
	height:50px;
	width:100%;
	border-radius:4px;
	font-size:18px;
  border: none;
  padding: 0px;

}

.email-button {
  flex: 2;
}

.email-button button {
	/* The following code was adapted from:http://www.w3schools.com/css/css3_buttons.asp
	 * it styles a button */
	background-color: #CCFFFF;
	border: none;
	color: grey;
  border-radius: 4px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  height: 50px;
	font-size: 16px;
	margin: 4px 2px;
  width: 100%;
  overflow: hidden;
}

.email-button button:hover {
  background-color: #ACD1E9;
  color: white;
  cursor: pointer;
}

.bottom-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  position: relative;
  z-index: 5;
	padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.columns-container {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	width:100%;
  top: 20px;
  position: relative;
}
.columns-container ul {
	padding: 0px;
}

.bottom-contents p {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Baloo Da';
  font-weight: normal;
  margin-bottom: 0px;
}

.bottom-contents a {
  font-size: 14px;
  font-family: 'Baloo Da';
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.bottom-column a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.rows-container {
  display: none;
  width: 100%;
}

.bottom-row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, .4);
  border-bottom-width: thin;
  color: white;
  padding: 10px;

}



footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1a1a1a;
}


footer li {
  display: inline;
  padding-left: 30px;

}

p {
  font-family: 'Amiko', sans-serif;
  color: white;
}

a {
  font-family: 'Amiko', sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
	/* The following code was provided by Tim Tregubov on the assignment page
	 * it makes lists not have bullet points */
	list-style-type: none;
}

/* The following code to place a gradient over the background image is from slack.com */
.gradient {
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
  height: 660px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.thing {
  display: none;
  top: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
  background-color: white;
}

.menu-overlay {
  height: 0px;
  opacity: 0;
  background: green;
  position: absolute;
  color: white;
  text-align: center;
  transition-property: "height";
  transition-duration: .5s;
  transition-timing-function: linear;
  top: -300px;
  left: 0;
  width: 100%

}

/* Toggled State */
input[type=checkbox]:checked ~ .menu-overlay {
  padding: 0px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  height: 100vh;
  top: 0;
}

.menu-overlay .top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-overlay .menu-exit {
  color: white;
  font-family: 'Baloo Da';
  margin-right: 15px;
  font-size: 24px;
}

.menu-overlay .menu-exit:hover {
  color: LightGrey;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  header .desktop-nav-bar {
    display: none;
  }
  header .menu {
    display: block;
    border-style: solid;
    border-radius: 4px;
    border-color: white;
    margin-right: 15px;
    font-family: 'Baloo Da';
    padding: 15px;
    color: white;
  }

  header .menu:hover {
    color: LightGrey;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .create-team-box {
    width: 95%;
  }

  .input-area {
    flex-direction: column;
    width: 90%
  }
  .email-field {
    width: 100%;
  }
  .email-button {
    width: 100%;
  }


  .location-box {
    display: none;
  }

  .bottom-contents {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .columns-container {
    display: none;
  }

  .rows-container {
    display: flex;
    flex-direction: column;
  }

  .bottom-row p {
    font-size: 12px;
  }


}
